<nav>
  <ul class="pagination">
    <li
      class="page-item"
      [ngClass]="{disabled: currentPage === 0}">
      <a href="#"
        class="page-link"
        (click)="currentPage = currentPage - 1">Prev</a>
    </li>
    <ng-container *ngFor="let image of images; let i = index">
      <li
        *ngIf="showPageLink(i)"
        class="page-item"
        [ngClass]="{ active: i === currentPage }"
        (click)="currentPage = i">
        <a href="#" class="page-link">{{i+1}}</a>
      </li>
    </ng-container>
    <li
      class="page-item"
      [ngClass]="{disabled: currentPage === images.length - 1}">
      <a href="#"
        class="page-link"
        (click)="currentPage = currentPage + 1">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4>{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" alt="">
</div>

<div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">
    This is the beginning of the gallery.
  </div>
  <div *ngSwitchCase="4">
    From this point onwards, images are going to repeat
  </div>
  <div *ngSwitchCase="images.length -1">
    You've reached the end.
  </div>
  <div *ngSwitchDefault>
    <span appCustomclasses [backgroundColor]="'lightgreen'">
      <!-- appCustomClasses is a custom directive: see customclasses.directive.ts -->
      <!-- backgroundColor is a property that can be passed to it -->
      ...just keep going...
    </span>
    <span [appCustomclasses]="'lightblue'">
      <!-- alternative compact syntax using the same name for the custom directive and its set property method -->
      ...and going...
    </span>
  </div>
</div>

<br>


<!-- repeating the navigator but using a custom structural directive instead of *ngFor -->
<nav>
  <ul class="pagination">
    <li
      class="page-item"
      [ngClass]="{disabled: currentPage === 0}">
      <a href="#"
        class="page-link"
        (click)="currentPage = currentPage - 1">Prev</a>
    </li>
    <ng-container *appMultiplier="images.length; let i = index">
      <li
        *ngIf="showPageLink(i)"
        class="page-item"
        [ngClass]="{ active: i === currentPage }"
        (click)="currentPage = i">
        <a href="#" class="page-link">{{i+1}}</a>
      </li>
    </ng-container>
    <li
      class="page-item"
      [ngClass]="{disabled: currentPage === images.length - 1}">
      <a href="#"
        class="page-link"
        (click)="currentPage = currentPage + 1">Next</a>
    </li>
  </ul>
</nav>

